@font-face {
  font-family: "MyFont";
  src: url("/fonts/VT323-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #4aff41;
  background-color: transparent;
  font-family: "MyFont";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
