.homeSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: #000;
}

@media (max-width: 1024px) {
  .homeSection {
    overflow: hidden;
  }
}

.mainSection {
  width: 1088px;
  height: 896px;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .mainSection {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.backgroundImg {
  width: 100%;
  height: 100%;
  z-index: 10; /* first image order */
  position: absolute;
  top: 0;
  left: 0;
}

.mobileBackgroundImg {
  width: 100%;
  height: 100%;
  z-index: 10; /* first image order */
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

@media (max-width: 1024px) {
  .backgroundImg {
    display: none;
  }

  .mobileBackgroundImg {
    display: flex;
  }
}

.bodySection {
  width: 100%;
  height: 100%;
  z-index: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px 64px 96px 64px;
  gap: 16px;
}

@media (max-width: 1024px) {
  .bodySection {
    padding: calc(32 / 832 * 100vh) calc(32 / 402 * 100vw) 0
      calc(32 / 402 * 100vw);
    gap: 0px;
  }
}

.wrapperSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  .wrapperSection {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}

.leftSection {
  width: 674px;
  height: 640px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  position: relative;
}

@media (max-width: 1024px) {
  .leftSection {
    width: 100%;
    height: calc(642 / 832 * 100vh);
    border-radius: none;
  }
}

.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  height: 100%;
  transition: 0.2s right ease-in-out;
}

.rightSubSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

@media (max-width: 1024px) {
  .rightSection {
    position: absolute;
    z-index: 50;
    top: 50%;
    transform: translateY(-50%);
    height: calc(704 / 832 * 100vh);
    width: calc(332 / 402 * 100vw);
  }

  .rightSubSection {
    height: 100%;
    position: relative;
    gap: 0;
    padding: calc(32 / 832 * 100vh) calc(29 / 402 * 100vw);
    width: 100%;
  }
}

.predictionSection {
  width: 270px;
  height: 226px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .predictionSection {
    width: 100%;
    height: calc(228 / 832 * 100vh);
  }
}

.resultSection {
  width: 270px;
  height: 398px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .resultSection {
    width: 100%;
    height: calc(400 / 832 * 100vh);
  }
}

.footerSection {
  width: 100%;
  height: 112px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mobileNavbarSection {
  display: flex;
  transition: 0.2s right ease-in-out;
}

.mobileNavbarSubSection {
  display: flex;
}

.mobileNavbarBackgroundimg {
  width: 100%;
  height: 100%;
  display: none;
}

@media (max-width: 1024px) {
  .mobileNavbarSection {
    z-index: 99;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: calc(704 / 832 * 100vh);
    width: calc(368 / 402 * 100vw);
  }

  .mobileNavbarSubSection {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .mobileNavbarBackgroundimg {
    display: flex;
  }
}

.navbarBtn {
  display: none;
  transition: 0.2s left ease-in-out;
}

@media (max-width: 1024px) {
  .navbarBtn {
    width: calc(36 / 402 * 100vw);
    height: calc(126 / 832 * 100vh);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    display: flex;
  }
}
