.dashboardSection {
  position: absolute;
  z-index: 11;
  width: 674px;
  height: 640px;
  top: 32px;
  left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .dashboardSection {
    width: calc(338 / 402 * 100vw);
    height: calc(642 / 832 * 100vh);
    top: calc(32 / 832 * 100vh);
    left: calc(32 / 402 * 100vw);
  }
}

.mainSection {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
