.footerSection {
  position: absolute;
  z-index: 11;
  width: calc(1024px - 64px);
  height: 112px;
  bottom: 96px;
  left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .footerSection {
    width: 100%;
    height: calc(152 / 832 * 100vh);
    bottom: 5px;
    left: 0;
  }
}

.mainSection {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}

@media (max-width: 1024px) {
  .mainSection {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 0;
  }
}

.leftSection {
  height: 100%;
  width: 674px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
}

@media (max-width: 1024px) {
  .leftSection {
    height: 132px;
    width: 316px;
  }
}

.buttonItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

@media (max-width: 1024px) {
  .buttonItem {
    position: absolute;
    bottom: unset;
  }
}

.buttonImg {
  width: 136px;
}

.buttonMobileImg {
  width: 118px;
  display: none;
}

@media (max-width: 1024px) {
  .buttonImg {
    display: none;
  }

  .buttonMobileImg {
    width: 118px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.rightSection {
  height: 100%;
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
}

@media (max-width: 1024px) {
  .rightSection {
    display: none;
  }
}

.buttonRightImg {
  width: 202px;
}

.buttonClaimImg {
  width: 120px;
  height: 120px;
  display: none;
}

@media (max-width: 1024px) {
  .buttonRightImg {
    display: none;
  }

  .buttonClaimImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
