.resultSection {
  position: absolute;
  z-index: 11;
  width: 270px;
  height: 398px;
  top: calc(226px + 16px + 32px);
  right: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .resultSection {
    width: calc(270 / 402 * 100vw);
    height: calc(398 / 832 * 100vh);
    top: unset;
    right: calc(32 / 402 * 100vw);
    bottom: calc(32 / 832 * 100vh);
  }
}

.mainSection {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: auto;
}
