.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin: 60px 0;
  padding: 0 60px;
  overflow: auto;
}

@media (max-width: 1024px) {
  .main {
    margin: calc(30 / 832 * 100vh) 0;
    padding: 0 calc(30 / 402 * 100vw);
  }
}

.alertTitle {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.subText {
  text-transform: uppercase;
  margin: 15px 0;
}

.stationPackage {
  border: 1px dashed #4aff41;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 16px;
  width: 215px;
}

.stationPackage > *:not(:last-child) {
  /* Fallback spacing for browsers without flex gap */
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .stationPackage {
    width: 100%;
  }
}

.packageTitle {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.packageText {
  text-transform: uppercase;
}

.deployBtn {
  text-transform: uppercase;
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.deployBtn:hover {
  color: #000;
  background-color: #4aff41;
}

.systemNotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 16px;
}

.systemNotes > *:not(:last-child) {
  /* Fallback spacing for browsers without flex gap */
  margin-bottom: 5px;
}

.notesItem {
  font-size: 14px;
  text-transform: uppercase;
}
