.main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 60px 0;
  padding: 0 60px;
  overflow: auto;
}

.alertTitle {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.subText {
  text-transform: uppercase;
  margin: 15px 0;
}

.stationPackage {
  border: 1px dashed #4aff41;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 20px;
}

.packageTitle {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.packageText {
  text-transform: uppercase;
}

.deployBtn {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.systemNotes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.notesItem {
  font-size: 14px;
  text-transform: uppercase;
}
