.main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 60px 0;
  padding: 0 60px;
  overflow: auto;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subTitle {
  margin-bottom: 15px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}

.shipImg {
  width: 320px;
  height: 320px;
}

.deployBtn {
  margin-bottom: 15px;
}

.text {
  font-size: 14px;
}
