.wrapper {
  height: 292px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logoImg {
  width: 196px;
  height: 144px;
}

.title {
  height: 64px;
  font-size: 64px;
  margin-top: 10px;
}

.menu {
  width: 292px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.btn {
  font-size: 16px;
}

.btn:hover {
  color: #000;
  background-color: #4aff41;
}
