.wrapper {
  height: 292px;
  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .wrapper {
    height: 250px;
  }
}

.logoImg {
  width: 196px;
  height: 144px;
}

@media (max-width: 1024px) {
  .logoImg {
    width: 142px;
    height: 104px;
  }
}

.title {
  height: 64px;
  font-size: 64px;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 48px;
    height: 48px;
  }
}

.menu {
  width: 292px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px; /* not supported in IE11 */
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .menu {
    width: 180px;
    margin-top: 20px;
  }
}

.btn {
  font-size: 16px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn:hover {
  color: #000;
  background-color: #4aff41;
}
