.main {
  width: 100%;
  height: 100%;
  border: 1px dashed #4aff41;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (max-width: 1024px) {
  .main {
    padding: calc(10 / 832 * 100vh) calc(10 / 402 * 100vw);
  }
}

.headerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .headerSection {
    margin-bottom: 5px;
  }
}

.headerTitle {
  font-size: 24px;
}

.closeBtn {
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.closeBtn:hover {
  color: #000;
  background-color: #4aff41;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .wrapper {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.shipImg {
  width: 342px;
  height: 312px;
}

@media (max-width: 1024px) {
  .shipImg {
    width: 300px;
    height: 250px;
  }
}

.descSection {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: 10px;
  gap: 40px;
}

.descSection > *:not(:last-child) {
  margin-bottom: 40px; /* fallback for Safari <14.1 */
}

.desc {
  font-size: 14px;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .descSection {
    gap: 5px;
    padding-left: 0;
  }

  .descSection > *:not(:last-child) {
    margin-bottom: 5px; /* fallback */
  }

  .desc {
    font-size: 12px;
  }
}

.content {
  font-size: 12px;
  text-transform: none;
}

@media (max-width: 1024px) {
  .content {
    font-size: 14px;
  }
}

.deploySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px dashed #4aff41;
  padding: 1px;
  gap: 3px;
  margin: 12px 0;
}

.deploySection > *:not(:last-child) {
  margin-right: 3px; /* fallback */
}

.text,
.status,
.offstatus {
  width: 98px;
  height: 22px;
  font-size: 14px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.status {
  background-color: #4aff41;
  color: #000;
}

.offstatus {
  border-left: 1px dashed #4aff41;
  cursor: pointer;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.offstatus:hover {
  background-color: #4aff41;
  color: #000;
}

.system {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 4px;
}

.system > *:not(:last-child) {
  margin-bottom: 4px; /* fallback */
}

.note {
  font-size: 14px;
}
