.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 160px;
}

.item {
  text-transform: uppercase;
  padding: 8px;
  width: 310px;
}

@media (max-width: 1024px) {
  .item {
    width: calc(300 / 402 * 100vw);
    font-size: 14px;
  }
}
